<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
  <!-- Page specific head additions -->
  <title>College List</title>
</div>



<!-- <body> -->

<div layout:fragment="body" th:remove="tag">
  <!-- Page specific body additions -->
  <div class="container">

    <div class="row justify-content-md-center">
      <h1>College List</h1>
      <a th:href="@{/database/college_faq}">College Admissions FAQ</a>
    </div>

    <div class="row justify-content-md-center">
      <a class="btn btn-primary" th:href="@{/database/college_add}"role="button">Add College</a>
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Deadline</th>

      </tr>
      </thead>

      <tbody>
      <tr th:each="college : ${list}">
        <td th:text="${college.id}">College ID</td>
        <td th:text="${college.name}">College Name</td>
        <td th:text="${college.deadline}">Deadline</td>
        <td>
          <a th:href="@{/database/college_update/{id}(id = ${college.id})}">Update</a>
          <a th:href="@{/database/college_delete/{id}(id = ${college.id})}">Delete</a>
        </td>
      </tr>

      </tbody>
      <div layout:fragment="metadata" th:remove="tag">
        <!-- Start of head content specific to page -->
        <title>Greet</title>
        <link rel="stylesheet" type="text/css" href="/css/greet.css">
        <!-- End of head content specific to page -->
      </div>
      <link rel="stylesheet" href="greet.css">
      </head>

      <body><div layout:fragment="content" th:remove="tag">
        <!-- Start of body content specific to page -->
        <style>
          body {
            background: none;
          }
          * {
            box-sizing: border-box;
            font-color: #fff;
          }

          #myInput {
            background-color: #fff;

            background-repeat: no-repeat;
            width: 150%;

            font-size: 16px;
            font-color: #fff;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;

            text-align:center;
          }

          #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align:center;
          }

          #myUL li a {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f21dcf;
            padding: 12px;
            text-decoration: none;
            font-family: "ui-rounded Text";
            font-size: 18px;
            color: white;
            display: block
          }

          #myUL li a:hover:not(.header) {
            background-color: #d563f5;
          }
        </style>
        </br>
        </br>
        </br>
        </br>
        </br>



<!--        </br>-->
<!--        <div class="input-group rounded">-->
<!--          <input type="search" onkeyup="myFunction()" class="form-control rounded" placeholder="Search for topic" aria-label="Search"-->
<!--                 aria-describedby="search-addon" id="hello" />-->
<!--          <span class="input-group-text border-0" id="search-addon">-->
<!--    <i class="fas fa-search"></i>-->
<!--  </span>-->
<!--        </div>-->
<!--        <div class="container-fluid">-->
<!--          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for topic" title="Type in a topic">-->
<!--        </div>-->
<!--        <div class="box column2" data-tilt>-->
<!--          &lt;!&ndash; Light Lab &ndash;&gt;-->
<!--          <p class="aboutSocial1"><a target="_blank" href="/abhijay/light" style=""><i style="color:cadetblue;" class="fa fa-cloud"></i></a></p>-->
<!--          <p style="position:center;font-size:large;text-align:center;padding-top:20px;">Light Minilab</p>-->

<!--          &lt;!&ndash; Journal &ndash;&gt;-->
<!--          <p class="aboutSocial2"><a target="_blank" href="https://docs.google.com/document/d/1K9bE17_RsneMIv-P-jf_3fWYD74xZ2KxzF0jPK18vAY/edit?usp=sharing"><i style="color:gray" class="fa fa-google"></i></a></p>-->
<!--          <p style="position:center;font-size:large;text-align:center;padding-top:6px;">Journal</p>-->

<!--          &lt;!&ndash;Github &ndash;&gt;-->
<!--          <p class="aboutSocial3"><a target="_blank" href="https://github.com/Dubshott"><i style="color:cadetblue" class="fa fa-github"></i></a></p>-->
<!--          <p style="position:center;font-size:large;text-align:center;padding-top:6px;">Github</p>-->

<!--          &lt;!&ndash; Commits &ndash;&gt;-->
<!--          <p class="aboutSocial4"><a target="_blank" href="https://github.com/shekark642/M222-Slackbotss/commits?author=Dubshott"><i style="color:gray" class="fa fa-github"></i></a></p>-->
<!--          <p style="position:center;font-size:large;text-align:center;padding-top:6px;">Commits</p>-->

<!--          &lt;!&ndash; Scrumboard &ndash;&gt;-->
<!--          <p class="aboutSocial5"><a target="_blank" href="https://github.com/shekark642/M222-Slackbotss/projects/1"><i style="color:cadetblue" class="fa fa-github"></i></a></p>-->
<!--          <p style="position:center;font-size:large;text-align:center;padding-top:6px;">Scrumboard</p>-->

<!--          &lt;!&ndash; Issues &ndash;&gt;-->
<!--          <p class="aboutSocial6"><a target="_blank" href="https://github.com/shekark642/M222-Slackbotss/projects/1?card_filter_query=assignee%3Adubshott"><i style="color:gray" class="fa fa-github"></i></a></p>-->
<!--          <p style="position:center;font-size:large;text-align:center;padding-top:6px;">Issues</p>-->
<!--        </div>-->



        <!-- Slideshow -->
        <div>
          <div id ="gradient" >
            <p class ="title" >College Application Service</p>
          </div>

          <div class="slideshow-container" id="position6">


            <div class="mySlides fade">
              <img  class="dimensions" src="/static/images/delnorte.jpg" th:src="@{/images/delnorte.jpg}" alt="menu" >
            </div>

            <div class="mySlides fade">
              <img   class="dimensions" src="/static/images/delnorte.jpg" th:src="@{/images/delnorte.jpg}" alt="menu">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <div style="text-align:center" id="position7">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
            </div>
          </div>
        </div>

        <script>
          var slideIndex = 1;
          showSlides(slideIndex);

          function plusSlides(n){
            showSlides(slideIndex += n);
          }

          function currentSlide(n){
            showSlides(slideIndex = n);
          }

          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i <= slides.length; i++){
              slides[i].style.display = "none";
            }
            for (i = 0; i <= dots.length; i++){
              dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
          }
        </script>

        <!-- End of body content specific to page -->
      </div>

      </body>
    </table>

  </div>

</div>

</html>
