<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<div layout:fragment="head" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>About Charlie Zhu</title>
  <!-- End of head content specific to page -->
</div>



<div layout:fragment="body" th:remove="tag">

  <div style = "background: linear-gradient(#e66465, #9198e5);">
    <p style = "font-size: 30px; color:#f7f7f7;"> This is Charlie Zhu's About Me Page. A fun fact about me is that I have two cats! One is named Selene and the other is named Toby!</p>
    <div>
      <a title="click to toggle!" onclick="imageSwitch(1)"><img id="image1" style="display:none" src="https://media.springernature.com/relative-r300-703_m1050/springer-static/image/art%3A10.1038%2F528452a/MediaObjects/41586_2015_Article_BF528452a_Figg_HTML.jpg" width="400px" height="400px"></a>
      <a title="click to toggle!" onclick="imageSwitch(2)"><img id="image2" style="display:inline" src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__340.jpg" width="400px" height="400px"></a></div>
    <script>
      function imageSwitch(type)
      {
        if(type===1) {
          document.getElementById('image1').style.display = 'none';
          document.getElementById('image2').style.display = 'inline';
        }

        if(type===2) {
          document.getElementById('image2').style.display = 'none';
          document.getElementById('image1').style.display = 'inline';
        }
      }
    </script>
    <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@CharlieZhu2/CSA-FRQs?lite=true"></iframe>

    <div>
      <p style = "font-size: 30px; color:rgba(170,0,255,0.94); text-align:center;">Charlie's FRQs</p>
      Question 1
      <p (1a) </br>
        if(rsvp){</br>
        System.out.println("attending");</br>
        }else if{</br>
        System.out.println("not attending");</br>
        }</br>
        (1b)</br>
        if(selection == 1){</br>
        System.out.println("beef");</br>
        }else if(selection == 2){</br>
        System.out.println("chicken");</br>
        }else if(selection == 3){</br>
        System.out.println("pasta");</br>
        }else{</br>
        System.out.println("fish");</br>
        }</br>
        (1c)</br>
        if(rsvp == false){</br>
        option1 = "Sorry you can't make it.";</br>
        }else if(rsvp){</br>
        if(selection == 1){</br>
        option1 = "Thanks for attending. You will be served beef.";</br>
        }else if(selection == 2){</br>
        option1 = "Thanks for attending. You will be served chicken.";</br>
        }else if(selection == 3){</br>
        option1 = "Thanks for attending. You will be served pasta.";</br>
        }else{</br>
        option1 = "Thanks for attending. You will be served fish.";</br>
        }}</br>
        (1d)</br>
        if(option1.equals(option2)){</br>
        System.out.println("true");</br>
        }else{</br>
        System.out.println("false");</br>
        }</br>
      </p>




    </div>






  </div>

  <!-- End of body content specific to page -->



</div>

<!-- Start of body content specific to page -->

</html>
